In [1]:
#импортируем библиотеку pandas
import pandas as pd

In [2]:
#загружаем датасет
twitch_df = pd.read_csv('../data/twitch_data.csv')

In [3]:
#убеждаемся, что все правильно загрузили и заодно смотрим на часть данных в датасете
twitch_df.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English

In [5]:
#смотрим информацию о датасете
twitch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Channel               1000 non-null   object
 1   Watch time(Minutes)   1000 non-null   int64
 2   Stream time(minutes)  1000 non-null   int64
 3   Peak viewers          1000 non-null   int64
 4   Average viewers       1000 non-null   int64
 5   Followers             1000 non-null   int64
 6   Followers gained      1000 non-null   int64
 7   Views gained          1000 non-null   int64
 8   Partnered             1000 non-null   bool
 9   Mature                1000 non-null   bool
 10  Language              1000 non-null   object
dtypes: bool(2), int64(7), object(2)
memory usage: 72.4+ KB

Пропущенных данных в датасете нет. Поэтому приступим к кодированию категориальных признаков. У нас их два: никнейм стримера ('Channel') и язык, на котором ведется трансляция ('Language'). Первый признак не является информативным, поэтому его можно удалить. Второй признак закодируем с помощью one-hot кодирования.

In [6]:
#удаляем столбец Channel
twitch_df = twitch_df.drop(['Channel'], axis=1)

In [7]:
#one-hot кодирование
twitch_df = pd.get_dummies(twitch_df, prefix=['lang'], columns=['Language'])

In [9]:
#проверяем правильность датафрейма
twitch_df.head()

,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,lang_Arabic,...,lang_Korean,lang_Other,lang_Polish,lang_Portuguese,lang_Russian,lang_Slovak,lang_Spanish,lang_Swedish,lang_Thai,lang_Turkish
0,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,0,...,0,0,0,0,0,0,0,0,0,0
1,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,0,...,0,0,0,0,0,0,0,0,0,0
2,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,0,...,0,0,0,1,0,0,0,0,0,0
3,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,0,...,0,0,0,0,0,0,0,0,0,0
4,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,0,...,0,0,0,0,0,0,0,0,0,0

One-Hot кодирование было выполнено правильно. Порядковых признаков нет, поэтому приступим к кодированию бинарных. В датафрейме имеется два бинарных признака: "Partnered" и "Mature". Первый показывает то, имеет ли стример партнерство с платформой Twitch, второй же показывает то, имеет ли стример метку 18+.

In [10]:
twitch_df['Partnered'] = twitch_df['Partnered'].astype('int64', copy=False)
twitch_df['Mature'] = twitch_df['Mature'].astype('int64', copy=False)

In [11]:
twitch_df

,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,lang_Arabic,...,lang_Korean,lang_Other,lang_Polish,lang_Portuguese,lang_Russian,lang_Slovak,lang_Spanish,lang_Swedish,lang_Thai,lang_Turkish
0,6196161750,215250,222720,27716,3246298,1734810,93036735,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6091677300,211845,310998,25610,5310163,1370184,89705964,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5644590915,515280,387315,10976,1767635,1023779,102611607,1,1,0,...,0,0,0,1,0,0,0,0,0,0
3,3970318140,517740,300575,7714,3944850,703986,106546942,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3671000070,123660,285644,29602,8938903,2068424,78998587,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,122524635,13560,21359,9104,601927,562691,2162107,1,0,0,...,0,0,0,0,0,0,1,0,0,0
996,122523705,153000,3940,793,213212,52289,4399897,1,0,0,...,1,0,0,0,0,0,0,0,0,0
997,122452320,217410,6431,567,109068,-4942,3417970,1,0,0,...,1,0,0,0,0,0,0,0,0,0
998,122311065,104745,10543,1153,547446,109111,3926918,1,0,0,...,0,0,0,0,0,0,0,0,0,0
999,122192850,99180,13788,1205,178553,59432,2049420,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
#экспортируем изменения в датафрейме
twitch_df.to_csv('../data/twitch_data_preprocessed.csv', index=False)