In [1]:
import pandas as pd

# Загрузка и подготовка данных

In [2]:
#импортируем подготовленный датасет
pokemon_df = pd.read_csv('../data/pokemon_preprocessed.csv')

In [3]:
#убеждаемся, что загрузка прошла успешно
pokemon_df.head()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,type_Bug,type_Dark,...,type_Psychic,type_Rock,type_Steel,type_Water,gen_1,gen_2,gen_3,gen_4,gen_5,gen_6
0,318,45,49,49,65,65,45,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,405,60,62,63,80,80,60,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,525,80,82,83,100,100,80,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,625,80,100,123,122,120,80,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,309,39,52,43,60,50,65,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [4]:
#выведем весь список типов у покемонов
print([x for x in pokemon_df.columns if 'type_' in x])

['type_Bug', 'type_Dark', 'type_Dragon', 'type_Electric', 'type_Fairy', 'type_Fighting', 'type_Fire', 'type_Flying', 'type_Ghost', 'type_Grass', 'type_Ground', 'type_Ice', 'type_Normal', 'type_Poison', 'type_Psychic', 'type_Rock', 'type_Steel', 'type_Water']

In [8]:
#создадим вектора X и y, один будет с характеристикой Total, другие - без.
X_with_total = pokemon_df.iloc[:, :7].values
y_with_total = 
# X =
# y =

[[318  45  49 ...  65  65  45]
 [405  60  62 ...  80  80  60]
 [525  80  82 ... 100 100  80]
 ...
 [600  80 110 ... 150 130  70]
 [680  80 160 ... 170 130  80]
 [600  80 110 ... 130  90  70]]